/** @format */
/** @format */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Roboto:wght@300;400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

:root {
  transition: all 0.3s; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }
  @media only screen and (max-width: 28.75em) {
    html {
      font-size: 37.5%; } }

body {
  font-weight: 400;
  line-height: 1.6;
  color: #f5f5f5;
  font-family: "Courier New", Courier, monospace;
  background-image: url(../img/blob-big.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 56rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  @media only screen and (max-width: 50em) {
    body {
      background-position: left; } }
  @media only screen and (max-width: 37.5em) {
    body {
      background-image: url(../img/blob-small.svg);
      background-position: top; } }

/** @format */
.heading {
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 1.2px;
  margin-bottom: 2.5rem;
  text-align: center; }

.timer {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 28.75em) {
    .timer {
      flex-direction: column; } }
  .timer__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 12.5rem;
    width: 100%; }
    .timer__box:not(:last-child) {
      margin-right: 4rem; }
      @media only screen and (max-width: 28.75em) {
        .timer__box:not(:last-child) {
          margin-right: 0;
          margin-bottom: 3rem; } }
  .timer__heading {
    font-size: 10rem;
    letter-spacing: 1.5px;
    line-height: 1;
    font-weight: 500; }
  .timer h3 {
    font-size: 3rem;
    font-weight: 700;
    color: #fa9845;
    text-align: center; }

/** @format */
.card {
  position: absolute;
  width: 60%;
  height: 80rem;
  background-image: url(/img/card-waves.svg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  display: none;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 50em) {
    .card {
      width: 65rem; } }
  @media only screen and (max-width: 37.5em) {
    .card {
      font-size: 43.75%; } }
  .card__display {
    display: flex; }
  .card__text {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Dancing Script", cursive; }
    @media only screen and (max-width: 50em) {
      .card__text {
        width: 60%; } }
    @media only screen and (max-width: 28.75em) {
      .card__text {
        width: 80%; } }
  .card__heading {
    font-size: 4.5rem;
    letter-spacing: 3px;
    text-align: center; }
    .card__heading__name {
      font-size: 4.5rem;
      text-transform: uppercase;
      padding: 2rem; }
  .card__para {
    font-size: 3.5rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
    color: #001220; }
  .card__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer; }
    .card__close:hover {
      color: black; }
