/** @format */

.card {
  position: absolute;

  width: 60%;
  height: 80rem;

  background-image: url(/img/card-waves.svg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;

  display: none;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    width: 65rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 43.75%;
  }

  &__display {
    display: flex;
  }

  &__text {
    width: 50%;
    height: auto;

    @media only screen and (max-width: $bp-medium) {
      width: 60%;
    }

    @media only screen and (max-width: $bp-smallest) {
      width: 80%;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Dancing Script", cursive;
  }

  &__heading {
    font-size: 4.5rem;
    letter-spacing: 3px;
    text-align: center;

    &__name {
      font-size: 4.5rem;
      text-transform: uppercase;
      padding: 2rem;
    }
  }

  &__para {
    font-size: 3.5rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;

    color: #001220;
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

    &:hover {
      color: black;
    }
  }
}
