/** @format */

// /////////////////////////////////////////////////////////
.heading {
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 1.2px;
  margin-bottom: 2.5rem;
  text-align: center;
}

// //////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////
// //////////////////////////////////////////////////////////
.timer {
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-smallest) {
    flex-direction: column;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 12.5rem;
    width: 100%;

    &:not(:last-child) {
      margin-right: 4rem;

      @media only screen and (max-width: $bp-smallest) {
        margin-right: 0;
        margin-bottom: 3rem;
      }
    }
  }

  &__heading {
    font-size: 10rem;
    letter-spacing: 1.5px;
    line-height: 1;
    font-weight: 500;
  }

  & h3 {
    font-size: 3rem;
    font-weight: 700;
    color: #fa9845;
    text-align: center;
  }
}

// #c55469
